.carousel_two .swiper-slide {
    font-size: 18px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px !important;

}

.carousel_two .swiper-wrapper {
    width: 500px !important;
}

@media screen and (max-width: 320px) {
    .carousel_two .swiper-slide {
      width: 320px !important;
    }
    .carousel_two .swiper-wrapper {
      width: 320px !important;
    }
  }